<p-card header="List movie winners by year">
  <div class="mb-4">
    <p-dropdown
      [options]="yearOptions"
      [(ngModel)]="selectedYear"
      (ngModelChange)="onYearChange()"
      placeholder="Select a year"
      [showClear]="true"
      [style]="{ width: '100%' }"
    ></p-dropdown>
  </div>

  <p-table [value]="winners" [tableStyle]="{ 'min-width': '100%' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Year</th>
        <th>Title</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
      <tr>
        <td>{{ movie.id }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.title }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">No winners found</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
